packet-generator new {
      name tg0
      limit -1
      size 64-64
      worker 0
      node memif1/1-output
      data {
          IP4: 00:00:0a:81:00:01 -> c6:ce:78:fe:5f:77
          UDP: 200.0.0.1  -> 1.0.0.1 + 1.0.0.253
          UDP: 1234 -> 2345
          incrementing 8
      }
}

packet-generator new {
      name tg1
      limit -1
      size 64-64
      worker 0
      node memif1/1-output
      data {
        ICMP: 200.0.0.1 -> 1.0.0.1
        ICMP echo_request
        incrementing 100
      }
}

packet-generator new pcap /home/lunqi/codeRepo/vpp/dataplane-stack/usecase/l3_forwarding/http.pcap interface  memif1/1 name http