unix { 
        runtime-dir /run/vpp/rt 
        cli-listen /run/vpp/rt/cli_rt.sock 
        pidfile /run/vpp/rt/vpp_rt.pid 
} 
cpu { 
        main-core 1
        corelist-workers 0
} 
plugins { 
        plugin default { disable } 
        plugin dpdk_plugin.so { enable } 
        plugin memif_plugin.so { enable }
} 
dpdk { 
        no-pci 
        dev default {
                num-tx-queues 1
                num-rx-queues 1
        }
        vdev net_memif0,role=client,id=1,socket-abstract=no,socket=/tmp/memif_dut_1,mac=c6:ce:78:fe:5f:77,zero-copy=no
        vdev net_memif1,role=client,id=1,socket-abstract=no,socket=/tmp/memif_dut_2,mac=c6:ce:78:fe:5f:78,zero-copy=no 
}
