packet-generator new {                                 
        name tg0                                               
        limit -1                                              
        worker 0                                              
        size 64-64                                             
        node Ethernet1-output                                
        data {                                                
                IP4: 02:fe:a4:26:ca:f2 -> 02:fe:a4:26:ca:ac       
                UDP: 192.81.0.1  -> 192.82.0.1                    
                UDP: 1234 -> 2345                                 
                incrementing 8                                    
        }                                                     
}