unix { 
        runtime-dir /run/vpp/remote 
        cli-listen /run/vpp/remote/cli_remote.sock 
        pidfile /run/vpp/remote/vpp_remote.pid 
} 
cpu { 
        main-core 10 
        corelist-workers 11 
} 
plugins { 
        plugin default { enable } 
        plugin dpdk_plugin.so { enable } 
        plugin af_xdp_plugin.so { enable } 
        plugin ping_plugin.so { enable } 
} 

dpdk { 
        dev default {
                num-tx-queues 1
                num-rx-queues 1
        }
        dev 0000:84:00.1 { 
                name Ethernet1 
        } 
        socket-mem 4096,4096
        huge-dir /dev/hugepages
}